extends layout

block content
  div(class="container")
    table(id="backSide")
      tr
        td(id="leftSide")
          img(id="photo", src="/show_image?id=#{_id}", alt="No photo")
        td(id="rightSide")
          a(href="/contact_list") Back
    br
    table(data-role='table', data-mode='reflow')
      thead
        th NAME:
        th ADDRESS:
        th E-MAIL:
        th PHONE:
        th BIRTHDAY:
        th NOTES:
      tbody
        td #{name}
        td #{address}
        td
          a(href="/email?id=#{_id}") #{email}
        td #{phonenumber}
        td #{birthday}
        td #{notes}
    br
    a(data-role="button", href="/edit?id=#{_id}") EDIT
    a(id="delete", data-role="button", data-id='"#{_id}"') DELETE
    script(src="/javascripts/application.js")
    