extends layout

block content
  div(class="container")
    table(id="backSide")
      tr
        td(id="leftSide") REGISTRATION
        td(id="rightSide")
          a(href="/logout") Back
    br
    form(action="/add_user",method="post",data-ajax="false")
      label User name
      input(type="text",name="username",placeholder="username",value="#{username}",autofocus)
      label Password
      input(type="password",name="password",placeholder="password",value="#{password}")
      label E-mail address
      input(type="email",name="email",placeholder="your@email.net",value="#{email}")
      label E-mail host
      input(type="text",name="host",placeholder="smtp.your-email-host.com",value="#{host}")
      label E-mail uses SSL
        input(type="checkbox",name="ssl",value="true")
      label Host username
      input(type="text",name="hostUsername",placeholder="your-host-username",value="#{hostUsername}")
      label Host password
      input(type="text",name="hostPassword",placeholder="your-host-username",value="#{hostPassword}")
      br
      input(class="widebutton",type="submit",value="REGISTER")
    br
    p(class="error") #{error_msg}
    